{% extends 'base.html.twig' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block body %}
    <h1>Résultats de la recherche</h1>
    {% if results.items is not empty %}
        <ul>
            {% for item in results.items %}
                <li>
                    <strong>{{ item.volumeInfo.title }}</strong><br>
                    Auteur(s) : {{ item.volumeInfo.authors|join(', ') }}<br>
                    Description : {{ item.volumeInfo.description|default('N/A') }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun résultat trouvé.</p>
    {% endif %}
{% endblock %}
