<!-- base.html.twig -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}My Book Search
			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"> {% block stylesheets %}{% endblock %}
		</head>
		{% include 'components/search_form.html.twig' %}

		<body class="bg-gray-100"> {% block body %}{% endblock %}{% block javascripts %}{% endblock %}
			</body>
		</html>